body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
}

.header {
    background: none;
    box-shadow: none;
}

.page-content {
    padding: 16px;  
}

.card-wide {
  width:100%;
  min-height:0;
  margin-bottom: 12px;
}

.card-module {
    margin: 0;
    padding: 12px !important;
    border-bottom: 1px solid #ccc;
    word-break:break-word;
}

.card-module.title {
    font-size:1.2em;
    color: #222;

}

.event-form {
    padding:0 16px 0 16px;
}

.event-field div {
    width: 90%; /* fallback if needed */
    width: calc(100% - 38px) !important;
}

.event-display {
    width: 100%;
}

.event-display div {
    width: 90%; /* fallback if needed */
    width: calc(100% - 72px) !important;
    display:inline-block;
}

.drawer-nav {
    padding: 0 16px 0 16px;
}

.login-field input {
    text-security: disc;
    -webkit-text-security: disc;
}

