<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Colonel By app admin." />

    <title>CB Admin</title>

    <link rel="icon" href="">
    <link href="bower_components/roboto-fontface/css/roboto-fontface.css" rel="stylesheet" />
    <link href="bower_components/material-design-lite/material.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="css/main.css" rel="stylesheet" />
    <!-- libs -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="bower_components/material-design-lite/material.min.js"></script>
    <script src="bower_components/angular-material-design-lite/dist/angular-material-design-lite.min.js"></script>

    <!-- app js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>

</head>

<body ng-app="cb-admin" ng-controller="mainCtrl">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="header mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Colonel By Announcements</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="card-wide mdl-card mdl-shadow--2dp">
                    <form class="event-form" ng-submit="addEvent()">
                        <mdl-text-field class="event-field" label="Add event..." ng-model="newEvent"></mdl-text-field>
                        <button class="event-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="addEvent()">
                            <i class="material-icons">add</i>
                        </button>
                    </form>
                </div>
                <div class="card-wide mdl-card mdl-shadow--2dp" ng-repeat="(key, value) in announcements | orderByKey: '-'">
                    <div class="card-module title mdl-card__title">
                        {{parseTime(key)}}
                    </div>
                    <div class="card-module mdl-card__subtitle-text" ng-repeat="(i, event) in value | orderBy : 'i' | limitTo: 14">
                        <div class="event-display" ng-hide="value[event].editing">
                            <div class="event-button">{{event}}</div>
                            <button class="event-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="updateUI(); value[event].editing = true; value[event].new = event">
                                <i class="material-icons">edit</i>
                            </button>
                            <button class="event-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="deleteEvent(key, i)">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                        <div class="edit-event" ng-hide="!value[event].editing">
                            <mdl-text-field class="event-field" ng-model="value[event].new"></mdl-text-field>
                            <button class="event-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="meme(key, i, value[event].new); value[event].editing = false">
                                <i class="material-icons">check</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>
