<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Colonel By app admin." />

    <title>CB Admin</title>

    <link rel="icon" href="">
    <link href="bower_components/roboto-fontface/css/roboto-fontface.css" rel="stylesheet" />
    <link href="bower_components/material-design-lite/material.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="bower_components/angular-toastr/dist/angular-toastr.css" rel="stylesheet" />
    <link href="bower_components/angular-material/angular-material.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <!-- libs -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="bower_components/material-design-lite/material.min.js"></script>
    <script src="bower_components/angular-material-design-lite/dist/angular-material-design-lite.min.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>

    <!-- app js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>

</head>

<body ng-app="cb-admin" ng-controller="mainCtrl">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="header mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Colonel By Announcements</span>
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect" ng-click="logout()" ng-hide="!authStatus">Logout</button>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">CB Admin</span>
            <nav class="mdl-navigation drawer-nav">
                <h6>Add or edit announcements to display in the Colonel By app. New announcements will be added automatically under the selected date (today by default).</h6>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content" ng-hide="!authStatus">
                <div class="card-wide float-right mdl-card mdl-shadow--2dp">
                    <form class="event-form" ng-submit="addEvent()">
                        <md-datepicker class="date-picker" ng-model="date" md-placeholder="Enter date"></md-datepicker>
                        <mdl-text-field class="event-field" label="Add event..." ng-model="newEvent"></mdl-text-field>
                        <button class="event-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="addEvent()">
                            <i class="material-icons">add</i>
                        </button>
                        
                    </form>
                </div>
                <div class="card-wide mdl-card mdl-shadow--2dp" ng-repeat="(key, value) in announcements | orderByKey: '-'">
                    <div class="card-module title mdl-card__title">
                        {{parseTime(key)}}
                    </div>
                    <div class="card-module mdl-card__subtitle-text" ng-repeat="(i, event) in value | orderBy : 'i' | limitTo: 14">
                        <div class="event-display" ng-hide="value[event].editing">
                            <div class="event-button">{{event}}</div>
                            <button class="event-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="updateUI(); value[event].editing = true; value[event].new = event">
                                <i class="material-icons">edit</i>
                            </button>
                            <button class="event-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="deleteEvent(key, i)">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                        <div class="edit-event" ng-hide="!value[event].editing">
                            <mdl-text-field class="event-edit" ng-model="value[event].new"></mdl-text-field>
                            <button class="event-button mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="meme(key, i, value[event].new); value[event].editing = false">
                                <i class="material-icons">check</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content" ng-hide="authStatus">
                <div class="demo-card-square mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand">
                        <h2 class="mdl-card__title-text">Login</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Please login using the provided authentication key.
                        <form ng-submit="login(authKey)">
                            <mdl-text-field label="Authentication key" ng-model="authKey" class="login-field"></mdl-text-field>
                        </form>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" ng-click="login(authKey)">Authenticate</button>
                    </div>
                </div>

            </div>

        </main>
        <mb-datepicker element-id='date1'
                       input-class="testClass"
                       input-name="testName"
                       arrows="arrows"
                       calendar-header="header"
                       date="date"
                       date-format="YYYY-MM-DD"></mb-datepicker>
    </div>
</body>

</html>
